<section id="tasks">
  <header>
    <h2 [innerText]="selectedUser?.name"></h2>

    <menu>
      <button (click)="displayAddTaskForm = true">Add Task</button>
    </menu>
  </header>

  @if (displayAddTaskForm) {
  <section>
    <input type="text" placeholder="Won't udpate db for now" />
    <button (click)="onTaskAdd()">Add</button>
  </section>
  }

  <ul>
    @for(task of selectedUserTasks; track task.id){
    <li><app-task [task]="task" (complete)="onTaskCompleted($event)" /></li>
    }@empty {
    <li>
      <p>
        <b> {{ selectedUser?.name }} </b> doesn't have any tasks
      </p>
    </li>
    }
  </ul>
</section>
